/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header-wrap {
  display: grid;
  grid-template-columns: 11% 78% 11%;
  height: 100vh;
  
  background-image: url("./assets/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#section-1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#navbar {
  grid-column-start: 1;
  grid-column-end: 4;
}

.navbar-block {
  position: block;
  color: black;
}

.navbar-sticky {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 9px 0px #000000;
  color: black;
  position: fixed;
}

nav ul {
  display: flex;
  margin: 0;
  color: white;
  list-style-type: none;
}

nav ul li {
  flex-flow: row;
}




/*Tomas -------------------------- */

.section-grid {
  display: grid;
  grid-template-columns: 11% 78% 11%;
}
.section-container {
  grid-column-start: 2;
  grid-column-end: 3;

}
/* FI Tomas-------------------------- */








/* ---------------------------------------- */
@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

